*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px; // remove default browser margin
  padding: 0px; // remove default browser padding
}

/// colors
$blueviolet:blueviolet;
$blue:#5b5be0;
$aliceblue: aliceblue;
$white:white;
$gray-ligthen-1:#D6D6D6;
$gray-ligthen-2: #E7E7E7;
$box-shadow-color: $gray-ligthen-1;

html {
  // html element with no set height will auto adjuste according to the body height
  background-color: $white; // var
}

body {
  min-height: 100vh; // minimum full viewport height
  width: 100%; // full viewport width
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Shippori Mincho', serif;
}

a{
  color: $blue; // var
  text-decoration: none;
  &:hover{
    color: $blueviolet; // var
  }
}

h1{
  color: $blueviolet; // var
  margin-top: 50px;
}

p{
  min-height: 50px;
}

pre code {
  box-shadow: none;
}

pre.active {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: scroll;
  overscroll-behavior: contain;
  border: 1px solid $aliceblue; // var
  code.hljs{
    overflow-x: initial;
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
  transform: translateY(6px);
}

main{
  margin-bottom: 20px;
  width:80%;
  h2{
    text-align: center;
    margin: 30px;
  }
  .endpoints {
    display: flex;
    width: 100%;
    code{
      background-color: $gray-ligthen-2; //var
      padding: 2px 5px;
      margin-left: 5px;
      border-radius: 3px;
      box-shadow: 0 2px 0 $box-shadow-color; // var
      color: $blue; // var
      font-weight: bold;
    }
    .endpoint{
      width: 50%;
    }
  }
}

footer {
  margin-top: auto;
  margin-bottom: 20px;
}
